* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Добавлено для более удобного управления размерами элементов */
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    /* Убрать подчеркивание ссылок */

    color: black;
    /* Добавлен цвет текста по умолчанию */
}

header {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    /* Фиксированное положение шапки */
    z-index: 1000;
    /* Чтобы шапка была поверх других элементов */
    border-bottom: 1px solid #bbcee7;
}

header .container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Выровнять элементы по вертикали */
    padding: 10px 0;
    /* Добавлен отступ сверху и снизу */
}

#logo {
    width: 70px;
    height: auto;
    margin-top: 5px;
    border-radius: 10px;
    /* Добавлен скругленный угол */
    margin-right: 10px;
}

.logo-bstu-it {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
}

#logo-bstu {
    width: auto;
    height: 50px;
    margin-right: 30px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 5px;
}

.kafedra-it {
    display: flex;
    justify-content: center;
    align-items: center;


}

.kafedra-it p:hover {
        color: #7ACEEF;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    /* Убрать маркеры списка */
    display: flex;
    /* Разместить элементы в строку */
}

nav li a {
    font-size: 22px;
    /* Уменьшено значение шрифта для лучшей адаптивности */
    margin-left: 20px;
    /* Отступ между пунктами меню */
    color: #122d52;
    /* Цвет текста ссылок */
    border-bottom: 1px solid #bbcee7;
}


nav a:hover {
    color: #7ACEEF;
}


main {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    font-size: 16px;
}

main li {
    margin-bottom: 10px;
    margin-right: 10%;
}

main .td-left p {
    margin-bottom: 20px;
    margin-right: 10%;
}

main .td-left p {
    text-indent: 1.5em;
    /* Отступ первой строки */
    text-align: justify;
    /* Выравнивание по ширине */
}

main .container {
    margin-top: 130px;
    width: 90%;
    max-width: 1200px;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    /* Выровнять элементы по вертикали */
}


table {
    border-left: 0;

}

.plan img {
    display: block;
    /* Чтобы изображения занимали всю ширину контейнера */
    margin: 0 auto;
}

.photo-teacher {
    width: 300px;
    height: auto;
    border-radius: 20px;
}

main td {
    vertical-align: top;
}

.td-center {
    text-align: center;
}

td ul {
    padding-left: 15px;
}



.table-teacher {
    width: 100%;
}

.td-teacher {
    display: flex;
    justify-content: center;
    align-items: center;
}



figcaption a {
    img {
        height: auto;
        width: 50px;

    }
}

.p-spisok {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.info-it {
    text-indent: 1.5em;
    /* Отступ первой строки */
    text-align: justify;
    /* Выравнивание по ширине */
}

/* Стили для контейнера входа */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5em;
    padding: 2rem;
    background-color: #fff;
    border: 2px solid #122d52;
    border-radius: 8px;
    margin-bottom: 22em;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-form input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
}

.btn {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #122d52;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7ACEEF;
}

footer {
    position: static;
    bottom: 0;
    /* Прикрепляем футер к нижней части wrapper */
    width: 100%;
    margin-top: 10px;
    background-color: #122D52;
    justify-content: center;
    display: flex;
}

footer .container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Выровнять элементы по вертикали */
    padding: 10px 0;
    /* Добавлен отступ сверху и снизу */
}

footer li {
    list-style: none;
    /* Убрать маркеры списка */
    color: white;
    font-size: 12px;
    margin-top: 10px;
}


.flex-container {
    display: flex;
    gap: 20px;
}

.flex-item-left {
    flex: 2;
}

.flex-item-right {
    flex: 1;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}


.teachers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teacher-block {
    display: flex;
    align-items: flex-start;
    /* Выравнивание по верхней части */
    gap: 20px;
}

.teacher-photo img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.teacher-info {
    flex: 1;
    /* Занимает все доступное пространство */
}

.name-teacher {
    margin-top: 0;
}

.about-teacher {
    margin: 5px 0;
}

.li-lesson-teacher {
    padding-left: 20px;
}

.table-lesson {
    width: 100%;
    border-collapse: collapse;
}

.table-lesson td {
    padding: 12px 16px;
}

.table-lesson thead tr {
    font-weight: bold;
    border-top: 1px solid #e8e9eb;
}

.table-lesson tr {
    border-bottom: 1px solid #e8e9eb;
}

.table-lesson tbody tr:hover {
    background: #e8f6ff;
}

.table-lesson a {
    color: #122d52;
    /* Цвет текста ссылок */
    border-bottom: 1px solid #bbcee7;
}


.table-lesson a:hover {
color: #7ACEEF;
}